[submodule "workspaces/base/oh-my-zsh/.config/oh-my-zsh/custom/plugins/history-search-multi-word"]
	path = workspaces/base/oh-my-zsh/.config/oh-my-zsh/custom/plugins/history-search-multi-word
	url = https://github.com/zdharma-continuum/history-search-multi-word.git
